<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2>Fix the following <%= pluralize(@user.errors.count, "error") %> errors:</h2>

      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <h3>Timezone</h3>
  <div class="field">
    <%= f.label :time_zone %><br>
    <%= f.collection_select :time_zone, ActiveSupport::TimeZone.all, :name, :to_s %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
