<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2>Fix the following <%= pluralize(@user.errors.count, "error") %> errors:</h2>

      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-4">
      <div class="field">
        <%= f.label :time_zone %><br>
        <%= f.collection_select :time_zone, ActiveSupport::TimeZone.all, :name, :to_s %>
      </div>
    </div>

    <div class="col-md-4">
      <div class="field">
        <%= f.label :email_send %><br>
        <%= f.time_select :email_send %>
      </div>
    </div>

    <div class="col-md-4">
      &nbsp;
    </div>

  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="actions">
        <p/>
        <%= f.submit %>
      </div>
    </div>
  </div>
<% end %>
