<div class="container">
  <h1>
    <% r_path = controller_name == "welcome" ? root_path : emails_path %>
    <%= link_to r_path, class: "site-title pull-left" do %>
      <%= fa_icon "inbox #{classes} logo" %>

      <span class="logo-text">
        Productive.Email
      </span>

    <% end %>
  </h1>

  <div class="btn-users text-right">
    <% if user_signed_in? %>
      <%= link_to edit_user_path(current_user) do %>
        <%= image_tag current_user.profile_image_url, class: "img-circle", width: 50, height: 50 %>
      <% end %>

    <% else %>
      <%= link_to "Login", omniauth_authorize_path("user", "google_oauth2"), class: "btn btn-login" %>
      &nbsp;&nbsp;
      <%= link_to "Register", omniauth_authorize_path("user", "google_oauth2"), class: "btn btn-register" %>
    <% end %>
  </div>
</div>
