<div class="welcome">
  <header id="site-header" class="site-header">
    <%= render partial: "shared/site_header", locals: {classes: "2x"} %>

    <div class="container">

      <div class="header-description">
        <h2>A daily email reminding you which emails you have forgotten to respond to.</h2>
        <%= link_to "Start my Free Trial", omniauth_authorize_path("user", "google_oauth2"),
                    class: "btn btn-lg btn-header" %>
      </div>

      <div class="header-features">
        <div class="row">
          <div class="col-sm-6 header-feature">
            <h3><%= fa_icon "group" %>&nbsp; You're forgetting someone</h3>

            <p>
              Your inbox fills up fast.  Your boss needs you to follow up with a customer,
              accounting needs the monthly revenue numbers, your co-workers are bugging you
              to go out to lunch.  Along with personal emails, you've got daily deals from Groupon
              and some guy sending you daily fitness tips.
            </p>

            <p>
              Who do you need to follow up with? Which customer is slipping through the cracks?
            </p>

          </div>

          <div class="col-sm-6 header-feature">
            <h3><%= fa_icon "random" %>&nbsp;Follow up. Follow through.</h3>

            <p>
              Maybe you sent an email to potential customer three days ago, and haven't gotten a response?
              We'll remind you.  Yesterday your customer asked for a refund while you were cooking dinner.
              Don't worry, we'll remind you.  Your boss just sent a ten paragraph email outlining a number
              of key questions for an important initiative.
              We'll call out those key questions, and... we'll remind you.
            </p>
          </div>
        </div>
      </div>

      <div class="header-features">
        <div class="row">
          <div class="col-sm-12 header-feature">
            <h3 class="text-center">Relax. You don't have do anything. That's our job.</h3>
            <p>
              Oh-No-Mail-Go analyzes your email and with the help of some advanced algorithms,
              we figure out exactly which of your emails deserve a response.
            </p>
            <p>
              No cumbersome settings of reminders, flagging messages, labeling or
              BCC'ing some archiac email address (GAG, we're looking at you Followup.cc).
            </p>
            <h3 class="text-center">You don't have to remember anything.</h3>
            <p>
              Everyday you'll receive a simple, daily email summarizing who's waiting to hear from you and who
              hasn't responded to you.  No nagging reminders or popups messages.  Just a simple list of emails.
              You're never going to forget to follow up every again.
              Your customers are going to be so impressed (as if they weren't already).
            </p>

          </div>
        </div>
      </div>

      <!-- /.header-features -->

    </div>
    <!-- /.container -->
  </header>

  <section id="slider" class="slider text-center">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">

          <div id="slider-carousel" class="carousel slide">
            <div class="carousel-inner">
              <div class="item active">
                <%= image_tag "macbook-air-3.png" %>
              </div>
              <div class="item">
                <%= image_tag "macbook-air-2.png" %>
              </div>
              <div class="item">
                <%= image_tag "macbook-air-1.png" %>
              </div>
            </div>
            <a class="carousel-control lef" href="#slider-carousel" data-slide="prev">&lsaquo;</a>
            <a class="carousel-control right-side" href="#slider-carousel" data-slide="next">&rsaquo;</a>
          </div>
          <!-- /slider-carousel -->

        </div>
        <!-- /span12 -->
      </div>
      <!-- /row -->
    </div>
    <!-- /container -->
  </section>

  <section id="features" class="features">
    <div class="container">
      <div class="row">

        <div class="col-sm-3">
          <div class="feature">
            <%= fa_icon "globe", base: "square" %>
            <h4>Important Email</h4>

            <p>
              You receive a ton of email.  We remind you only of the emails that require your personal
              touch.
            </p>
          </div>
        </div>
        <!-- /span3 -->

        <div class="col-sm-3">
          <div class="feature">
            <%= fa_icon "wrench", base: "square" %>
            <h4>Important Questions</h4>

            <p>
              Each of your emails will have the revelent questions called out and highlighted
              so that you know exactly which points to respond to.
            </p>
          </div>
        </div>
        <!-- /span3 -->

        <div class="col-sm-3">
          <div class="feature">
            <%= fa_icon "desktop", base: "square" %>
            <h4>Important People</h4>

            <p>For each of your emails, a picture of the person that sent the email is
              shown to the left (if we can find one!).
              You won't be left guessing who you're replying to.</p>
          </div>
        </div>
        <!-- /span3 -->

        <div class="col-sm-3">
          <div class="feature">
            <%= fa_icon "thumbs-up", base: "square" %>
            <h4>Important Timing</h4>

            <p>Your email summary is mailed to you first thing in the morning,
              so that you can catch up on your emails from the day before.</p>
          </div>
        </div>
        <!-- /span3 -->

      </div>
      <!-- /row -->
    </div>
    <!-- /container -->
  </section>

  <section id="testimonials" class="testimonials">
    <div class="container">

      <div id="testimonials-carousel" class="carousel slide">
        <div class="carousel-inner">
          <div class="item active">
            <div class="row">
              <div class="col-sm-12">
                <blockquote>
                  <div>
                    <%= fa_icon "quote-left", base: "square" %>

                    <p>I never knew that I missed so many chances to folow up with my clients.
                      This really keeps on top of following up on things.</p>
                    <small>Renee Jones <cite>Indepedent Insurance Sales Rep</cite></small>
                  </div>
                </blockquote>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="row">
              <div class="col-sm-12">
                <blockquote>
                  <div>
                    <%= fa_icon "quote-left", base: "square" %>

                    <p>Fantastic service. I make a living selling insurance and there's times where
                    I have more leads than I can handle.  Now none of my potential clients
                      slip through the cracks.</p>
                    <small>Jim Jones <cite title="Source Title">CEO of Enron</cite></small>
                  </div>
                </blockquote>
              </div>
            </div>
          </div>
        </div>
        <a class="carousel-control lef" href="#testimonials-carousel" data-slide="prev">&lsaquo;</a>
        <a class="carousel-control right-side" href="#testimonials-carousel" data-slide="next">&rsaquo;</a>
      </div>
      <!-- /testimonials-carousel -->

    </div>
    <!-- /container -->
  </section>

  <!--
  <section id="prices" class="prices">
    <div class="container">
      <div class="row">

        <div class="col-sm-4">
          <div class="plan plan-1">
            <h4 class="plan-title"><a href="#">Starter Plan</a></h4>
            <ul class="list-unstyled plan-features">
              <li><a href="#">Quisque convallis</a></li>
              <li><a href="#">Eros ut tincidunt</a></li>
              <li><a href="#">Pellentesque ac</a></li>
              <li><a href="#">Sed tempor metus</a></li>
            </ul>
            <p class="plan-price text-center"><a href="#">Free</a></p>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="plan plan-2">
            <h4 class="plan-title"><a href="#">Business Plan</a></h4>
            <ul class="list-unstyled plan-features">
              <li><a href="#">Quisque convallis</a></li>
              <li><a href="#">Eros ut tincidunt</a></li>
              <li><a href="#">Pellentesque ac</a></li>
              <li><a href="#">Sed tempor metus</a></li>
              <li><a href="#">Morbi eu ante</a></li>
              <li><a href="#">Eu ante iaculis</a></li>
              <li><a href="#">Interdum non at turpis</a></li>
            </ul>
            <p class="plan-price text-center"><a href="#">$19 / month</a></p>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="plan plan-3">
            <h4 class="plan-title"><a href="#">Pro Plan</a></h4>
            <ul class="list-unstyled plan-features">
              <li><a href="#">Quisque convallis</a></li>
              <li><a href="#">Eros ut tincidunt</a></li>
              <li><a href="#">Pellentesque ac</a></li>
              <li><a href="#">Sed tempor metus</a></li>
              <li><a href="#">Cras vel risus</a></li>
              <li><a href="#">Tortor nullam condimentum</a></li>
              <li><a href="#">Dignissim arcu</a></li>
              <li><a href="#">Vulputate volutpat</a></li>
              <li><a href="#">Elit ultrices in</a></li>
            </ul>
            <p class="plan-price text-center"><a href="#">$29 / month</a></p>
          </div>
        </div>

      </div>
    </div>
  </section>
  -->

  <section id="contact" class="contact">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <h2>Feedbacks & Questions</h2>

            <p><%= fa_icon "bullhorn 4x", class: "pull-left text-muted" %>We'd love to hear from you.</p>
        </div>
        <div class="col-sm-6">
          <br>

          <p>There are different ways to keep in touch:</p>

          <ul class="unstyled inline social">
            <li><a href="#"><%= fa_icon "facebook" %></a></li>
            <li><a href="#"><%= fa_icon "twitter" %></a></li>
            <li><a href="#"><%= fa_icon "linkedin" %></a></li>
          </ul>

        </div>
      </div>
    </div>
  </section>

  <%= render partial: "shared/footer" %>

</div>