<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @email.user_id %>
</p>

<p>
  <strong>Thread:</strong>
  <%= @email.thread_id %>
</p>

<p>
  <strong>Message:</strong>
  <%= @email.message_id %>
</p>

<p>
  <strong>From:</strong>
  <%= @email.from %>
</p>

<p>
  <strong>Body:</strong>
  <%= @email.body %>
</p>

<p>
  <strong>Received on:</strong>
  <%= @email.received_on %>
</p>

<%= link_to 'Edit', edit_email_path(@email) %> |
<%= link_to 'Back', emails_path %>
