<% email = email.emails.last %>
<% span  = email.questions.empty? ? 0 : 150 %>
<% col_span_inc = span > 0 ? 1 : 0 %>

<table cellspacing="0" cellpadding="0" border="0" class="email-html" width="940px" id="email_#{email.id}">

  <tr class="email-time">
    <td width="150px text-center">
      <h4>
        <%= email.received_on.strftime("%I:%M %p") %>
      </h4>
    </td>
    <td width="790px" colspan="<%= 3 + col_span_inc %>">
      <hr/>
    </td>
  </tr>

  <tr class="email-data">
    <td width="150px" class="email-image text-center">
      <% if email.active_profile_images.present? %>
        <%= image_tag email.active_profile_images.first.image_url(:bright_face_medium), class: "img-circle" %>
      <% else %>
        <div class="first-letter text-uppercase img-rounded" style="background: #<%= string_color(email.from_name) %>;">
          <%= name_initials(email.from_name) %>
        </div>
      <% end %>
    </td>


    <td class="email-body" width="<%= 640 - span %>px">
      <table width="<%= 640 - span %>px">
        <tr>
          <td>
              <span class="email-displayname text-capitalize">
                <%= subject_label(email, current_user) %>
              </span>
              <span class="email-displayname-action">
                <%= action_label(email, current_user, email.email_thread.emails_count) %>..
              </span>
          </td>
        </tr>

        <tr>
          <td>
            <h4 class="email-subject">
                <span class="subject text-uppercase">
                  <%= email.subject %>
                </span>
            </h4>
          </td>
        </tr>

        <tr>
          <td>
              <span class="<%= email_body_class(email.body) %>">
                <%= highlight_body(email_body_display(email.body, email.content_type), email.questions) %>
              </span>
          </td>
        </tr>
      </table>
    </td>

    <% if span > 0 %>
      <td width="<%= span %>px" class="email-highlighs">
        <% if email.questions.present? %>
          <blockquote>
            <%= highlight_questions(email.questions) %>
          </blockquote>
        <% end %>
      </td>
    <% end %>

    <td width="150px" class="email-actions">
      <%= render partial: "shared/follow_up_respond_buttons", locals: {email: email, current_user: current_user} %>
      <br/>
      <br/>
      <%= link_to "Remove&nbsp;".html_safe, email_url(email, destroy: true), target: "_blank", class: "btn btn-danger" %>
    </td>
  </tr>

</table>