<!DOCTYPE html>
<html>
<head>
  <title>Add a Reminder for Gmail and Google Business; a Daily Summary of the Emails you Need to Follow up On</title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="google-site-verification" content="6O6X0lz0eOg_8INHMqcY2ntltw7AFi1bN9viwrH4gBQ" />

  <%= render partial: "shared/mixpanel" %>
</head>
<body>

<%= yield %>

</body>
</html>
