<!DOCTYPE html>
<html>
<head>
  <title>Add a Reminder for Gmail and Google Business; a Daily Summary of the Emails you Need to Follow up On</title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="google-site-verification" content="NHiuHvKre0g1V7qdYta4Q7yl1aJhav0lP39FpxtEm8g" />
  <%= render partial: "shared/mixpanel" %>
</head>
<body>

<%= yield %>

</body>
</html>
